.main__submit {
  background-color: #FFA800;
  border-radius: 100px;
  border: none;
  color: white;
  min-height: 50px;
  width: 300px;
  cursor: pointer;
}

.main__submit:hover {
  opacity: .8;
}