.main__submit {
  background-color: #FF6600;
  border-radius: 100px;
  border: none;
  color: white;
  min-height: 50px;
  width: 300px;
  cursor: pointer;
}

.main__submit:hover {
  opacity: .9;
}

@media screen and (max-width: 1400px) {
  .main__submit {
    width: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .main__submit {
    width: 200px;
  }
}