.header__phone {
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header__phone:hover {
  opacity: .8;
}

@media screen and (max-width: 700px) {
  .header__phone {
    display: none;
  }
}