.header__ref {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  }

.header__ref:hover {
  border-bottom: 1px solid #FF6600;
  color: #FF6600;
}