.main {
  margin: -80px 50px 0 50px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1000px) {
  .main {
    grid-template-columns: none;
    grid-template-areas: 
    "img"
    "title";
    grid-template-rows: min-content min-content;
    margin: 0 50px 0 50px;
    padding-top: 100px;
    min-height: unset;
  }
}