.popup__submit-button {
  display: block;
  box-sizing: border-box;
  width: 200px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  background-color: #FFA800;
  border: none;
  border-radius: 100px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
