.contacts__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1000px) {
  .contacts__block {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
  }
}