.header__call {
  border: 1px solid #FF6600;
  background-color: #FF6600;
  border-radius: 100px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.header__call:hover {
  opacity: .9;
}

@media screen and (max-width: 700px) {
  .header__call {
    display: none;
  }
}