.copyright__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: grey;
}

@media screen and (max-width: 590px) {
  .copyright__subtitle {
    font-size: 12px;
    margin-bottom: 10px;
  }
}